@font-face {
  font-family: 'URWDIN-Demi';
  src: url('../font/URWDIN-Demi.otf');
}
@font-face {
  font-family: 'GenJyuuGothicL-Monospace';
  src: url('../font/GenJyuuGothicL-Monospace-Normal.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'GenJyuuGothicL-Monospace';
  src: url('../font/GenJyuuGothicL-Monospace-Bold.woff2') format('woff2');
  font-weight: bold;
}


/*** pc */

body {
  text-align: center;
  line-height: normal;
}
header, main, footer, section  {
  min-width: 1024px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
header, main, footer, section, h1, h2, h3, figure, p {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  max-width: 1024px;
  margin: auto;
}
img {
  width: 100%;
  object-fit: contain;
}
.wave {
  position: absolute;
  background-size: 100px 100%;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  transform-origin: 50% 100%;
  transform: scaleY(1.55);
}
.active {
  animation: wave-animation 2s 1 linear;
  background-position: 100px bottom;
  transform: scaleY(0);
}
@keyframes wave-animation{
  from {
    background-position: 0 bottom;
    transform: scaleY(1.55)
  };
  to {
    background-position: 100px bottom;
    transform: scaleY(0)
  };
}

/* main */
main {
  height: 1184px;
  text-align: left;
  color: #000000;
}
.logo {
  position: absolute;
  left: 48px;
  top: 48px;
  width: 120px;
  height: 140px;
}
main h1 {
  position: absolute;
  left: 66px;
  top: 240px;
  width: 305px;
  height: 216px;
  font-family: URWDIN-Demi;
  font-size: 64px;
}
main p {
  position: absolute;
  left: 70px;
  top: 472px;
  width: 311px;
  height: 180px;
  font-family: GenJyuuGothicL-Monospace;
  font-size: 12px;
  line-height: 3;
  letter-spacing: 2.1px;
}
.key_visual {
  position: absolute;
  left: 360px;
  top: 128px;
  width: 600px;
  height: 1200px;
}
main .wave {
  left: 66px;
  top: 240px;
  width: 305px;
  height: 216px;
  background-image: url('../img/anim-wave-01.png');
}

/* service */
.service {
  font-family: GenJyuuGothicL-Monospace;
  text-align: left;
  color: #ffffff;
}
.service h2 {
  position: absolute;
  left: 134px;
  top: -24px;
  width: 256px;
  height: 136px;
}
.service h3 {
  position: absolute;
  width: 320px;
  height: 88px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}
.service p {
  position: absolute;
  width: 320px;
  height: 120px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 2px;
}
.serv_img {
  position: absolute;
  width: 260px;
  height: 260px;
}
.serv_bubble {
  position: absolute;
}
.submarine {
  position: absolute;
  left: 416px;
  top: 920px;
  width: 146px;
  height: 100px;
}

/* serv_sc */
.serv_sc {
  height: 480px;
  background-color: #f7ab00;
  background-image: url(../img/wave-01@2x.png);
}
.serv_sc h3 {
  left: 184px;
  top: 176px;
}
.serv_sc p {
  left: 184px;
  top: 288px;
}
.serv_sc .serv_img {
  left: 612px;
  top: 160px;
}
.serv_sc .serv_bubble {
  left: 872px;
  top: 79px;
  width: 78px;
  height: 112px;
}
.serv_sc .wave {
  left: 184px;
  top: 176px;
  width: 320px;
  height: 272px;
  background-image: url('../img/anim-wave-02.png');
}

/* serv_mc */
.serv_mc {
  height: 460px;
  background-color: #f48e00;
  background-image: url(../img/wave-02@2x.png);
}
.serv_mc h3 {
  left: 512px;
  top: 136px;
}
.serv_mc p {
  left: 512px;
  top: 248px;
}
.serv_mc .serv_img {
  left: 152px;
  top: 120px;
}
.serv_mc .serv_bubble {
  left: 86px;
  top: 80px;
  width: 50px;
  height: 106px;
}
.serv_mc .wave {
  left: 512px;
  top: 136px;
  width: 320px;
  height: 272px;
  background-image: url('../img/anim-wave-03.png');
}

/* serv_nb */
.serv_nb {
  height: 380px;
  background-color: #ef7a00;
  background-image: url(../img/wave-03@2x.png);
}
.serv_nb h3 {
  left: 184px;
  top: 136px;
  width: 198px;
  height: 44px;
}
.serv_nb p {
  left: 184px;
  top: 204px;
}
.serv_nb .serv_img {
  left: 636px;
  top: 120px;
}
.serv_nb .serv_bubble {
  left: 912px;
  top: 96px;
  width: 58px;
  height: 118px;
}
.serv_nb .wave {
  left: 184px;
  top: 136px;
  width: 320px;
  height: 188px;
  background-image: url('../img/anim-wave-04.png');
}


/* team */
.team {
  height: 980px;
  background-color: #fff9b0;
  background-image: url(../img/wave-04@2x.png);
  font-family: GenJyuuGothicL-Monospace;
}
.team h2 {
  position: absolute;
  left: 180px;
  top: 291px;
  width: 251px;
  height: 127px;
}
.airplane {
  position: absolute;
  left: 759px;
  top: 293px;
  width: 227px;
  height: 85px;
}
.cloud {
  position: absolute;
  left: 451px;
  top: 996px;
  width: 183px;
  height: 42px;
}
.officer {
  position: absolute;
  width: 220px;
  height: 458px;
  top: 490px;
}
.officer.ceo {
  left: 118px;
}
.officer.coo {
  left: 402px;
}
.officer.cco {
  left: 686px;
}
.officer .prof {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 30px;
}
.officer .fullname {
  position: absolute;
  width: 100%;
  top: 184px;
  font-size: 16px;
  font-weight: bold;
  color: #231815;
}
.officer .role {
  position: absolute;
  width: 100%;
  top: 220px;
  font-size: 12px;
  font-weight: bold;
  color: #00a0e9;
}
.officer .bio {
  position: absolute;
  width: 100%;
  top: 263px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

/* footer */
footer {
  height: 400px;
  background-color: #fff9b0;
  background-image: url(../img/footer@2x.png);
  background-position: center bottom;
  text-align: left;
  color: #ffffff;
}
footer p {
  position: absolute;
  left: 739px;
  top: 210px;
  width: 222px;
  height: 96px;
  font-family: GenJyuuGothicL-Monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
}


/*** sp */
@media screen and (max-width: 900px) {

  header, main, footer, section  {
    min-width: 375px;
  }
  .container {
    max-width: 375px;
  }

  /* main */
  main {
    height: 1146px;
  }
  .logo {
    left: 128px;
    top: 32px;
  }
  main h1 {
    left: 35px;
    top: 196px;
    font-family: URWDIN-Demi;
    font-size: 64px;
  }
  main p {
    left: 39px;
    top: 428px;
  }
  .key_visual {
    left: 38px;
    top: 616px;
    width: 300px;
    height: 600px;
  }
  main .wave {
    left: 35px;
    top: 196px;
  }

  /* service */
  .service h2 {
    left: 70px;
    top: 64px;
  }
  .service h3, .service p {
    left: 28px;
  }
  .serv_img {
    width: 180px;
    height: 180px;
  }
  .submarine {
    left: 270px;
    top: 1471px;
    width: 73px;
    height: 50px;
    z-index: 1;
  }
  .service .wave {
    left: 28px;
  }

  /* serv_sc */
  .serv_sc {
    height: 708px;
    background-image: url(../img/wave-01.png);
  }
  .serv_sc h3 {
    top: 444px;
  }
  .serv_sc p {
    top: 556px;
  }
  .serv_sc .serv_img {
    left: 98px;
    top: 232px;
  }
  .serv_sc .serv_bubble {
    left: 290px;
    top: 232px;
    width: 39px;
    height: 56px;
  }
  .serv_sc .wave {
    top: 444px;
  }

  /* serv_mc */
  .serv_mc {
    height: 538px;
    background-image: url(../img/wave-02.png);
  }
  .serv_mc h3 {
    top: 274px;
  }
  .serv_mc p {
    top: 386px;
  }
  .serv_mc .serv_img {
    left: 98px;
    top: 63px;
  }
  .serv_mc .serv_bubble {
    left: 57px;
    top: 62px;
    width: 25px;
    height: 53px;
  }
  .serv_mc .wave {
    top: 274px;
  }

  /* serv_nb */
  .serv_nb {
    height: 494px;
    background-image: url(../img/wave-03.png);
  }
  .serv_nb h3 {
    top: 274px;
  }
  .serv_nb p {
    top: 332px;
  }
  .serv_nb .serv_img {
    left: 98px;
    top: 62px;
  }
  .serv_nb .serv_bubble {
    left: 294px;
    top: 62px;
    width: 29px;
    height: 59px;
  }
  .serv_nb .wave {
    top: 274px;
  }


  /* team */
  .team {
    height: 1990px;
    background-image: url(../img/wave-04.png);
  }
  .team h2 {
    left: 62px;
    top: 170px;
  }
  .airplane {
    left: 75px;
    top: 1383px;
  }
  .cloud {
    left: 96px;
    top: 819px;
  }
  .officer.ceo {
    top: 329px;
    left: 78px;
  }
  .officer.coo {
    top: 893px;
    left: 78px;
  }
  .officer.cco {
    top: 1500px;
    left: 78px;
  }

  /* footer */
  footer {
    height: 306px;
    background-color: #e44b00;
    background-position: center 0;
    background-image: url(../img/footer.png);
  }
  footer p {
    position: absolute;
    left: 77px;
    top: 170px;
  }


}